{% extends 'flatpages/default.html' %} 

{% load custom_filters %}!
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>{{ news|length }}</h3>
    <hr>

    {% if perms.news.add_post %}
    <a href="{% url 'post_create' %}">Добавить новость</a>
    {% endif %}

    {% if news %}
        <table>
            <tr>
                <td>Заголовок новости</td>
                <td>Дата публикации</td>
                <td>Новость</td>
                {% if perms.news.change_post %}
                    <td>Действия</td>
                {% endif %}
            </tr>
            {% for post in news %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.dateCreation }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
                <td>
                    {% if perms.news.change_post %}
                        <a href="{% url 'post_edit' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                        <a href="{% url 'post_delete' post.id %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
